
<h1>Here are our cocktails of the month!</h1>

<p><%= link_to "New", new_cocktail_path %></p>




<div class="card_container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% @cocktails.each do |cocktail| %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400 %>')">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <p>Top cocktail of the month</p>
          <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
          </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
